# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# database
/db/

# local temporary files
/.history/
/.idea/
*.db
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/TrainingRecords.iml
.idea/vcs.xml
db/TRecords.db
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/TrainingRecords.iml
.idea/vcs.xml
db/TRecords.db
